// base

html {
  scroll-behavior: smooth;
}

body {
}

.parallax {
  font-family: $font-primary;
  height: 20rem;
  width: 100vw;
  background: url("/assets/images/LRC-2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
}

.main {
  background-color: rgba(255, 255, 255, 1);
}

hr {
  color: $black;
  border-width: 2px;
  margin: 16px 0 !important;
  opacity: 1;
}

.border-right {
  border: none;
}

// anchor

a {
  text-decoration: none;
  position: relative;
  color: $black;
  &:hover {
    color: $black;
    opacity: 0.75;
  }
}

.border {
  border: 1px solid $black !important;
}

// headings

h1 {
}

h2 {
}

h3 {
}

@media (min-width: 576px) {
  .main {
    background-color: rgba(255, 255, 255, 0.97);
    margin: auto;
  }
}

@media (min-width: 992px) {
  .border-right {
    border-right: 1px solid $black;
  }

  .parallax {
    font-family: $font-primary;
    min-height: 100vh;
    width: 100%;
    background: url("/assets/images/LRC-2.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media (min-width: 1200px) {
}
