// base

html {
  scroll-behavior: smooth;
}

#home {
  font-family: $font-primary;
  height: 100%;
  width: 100%;
  background: url("/assets/images/logo-main-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#contact {
  font-family: $font-primary;
  height: 100%;
  width: 100%;
  background: url("/assets/images/LRC-2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// anchor

a {
  text-decoration: none;
  position: relative;
  color: $black;
  &:hover {
    opacity: 0.75;
  }
}

// headings

h1 {
}

h2 {
  background-color: $black;
  color: $white;
  padding: 1rem;
  margin: 2rem 0;
}

h3 {
}

@media (min-width: 576px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
