// base

html {
  scroll-behavior: smooth;
  letter-spacing: 0.01px;
  font-size: 0.95rem;
}

body {
  font-family: $font-primary;
}

#home {
  font-family: $font-primary;
  height: 100%;
  width: 100%;
  background: url("/assets/images/logo-main-background.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

#contact {
  font-family: $font-primary;
  height: 100%;
  width: 100%;
  background: url("/assets/images/logo-main-background.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

// #releases {
//   font-family: $font-primary;
//   height: 100%;
//   width: 100%;
//   background: url("/assets/images/logo-main-background.jpg");
//   background-size: contain;
//   background-position: center;
//   background-repeat: repeat;
//   background-attachment: fixed;
// }

// #LRC01 {
//   font-family: $font-primary;
//   height: 100%;
//   width: 100%;
//   background: url("/assets/images/logo-main-background.jpg");
//   background-size: contain;
//   background-position: center;
//   background-repeat: repeat;
//   background-attachment: fixed;
// }

// anchor

a {
  text-decoration: none;
  position: relative;
  color: $black;
  &:hover {
    color: $black;
    opacity: 0.75;
  }
}

.border {
  border: 1px solid $black !important;
}

// headings

h1 {
}

h2 {
}

h3 {
}

@media (min-width: 576px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
