.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-primary {
  color: $color-primary;
}

.bg-white {
  color: $white;
}

.bg-black {
  color: $black;
}

.bg-primary {
  background-color: $color-primary;
}
