// fonts

.font-primary {
  font-family: $font-primary;
}

// .font-secondary {
//   font-family: $font-secondary;
// }

// font sizes

.font-xs {
  font-size: $font-xs;
}

.font-sm {
  font-size: $font-sm;
}
