// imports

// @import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

// fonts

@font-face {
  font-family: "Open-sans";
  src: url("/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Courier";
  src: url("/assets/fonts/CourierPrime-Regular.ttf") format("truetype");
  font-display: swap;
}

$font-primary: "Open-sans";
$font-secondary: "Courier";
// font sizes

$font-xs: 0.7rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;
$font-2xl: 1.5rem;
$font-3xl: 1.875rem;
$font-4xl: 2.25rem;
$font-5xl: 3rem;
$font-6xl: 3.75rem;
$font-7xl: 4.5rem;
$font-8xl: 6rem;
$font-9xl: 8rem;

// colors

$color-primary: #eb512b;

$white: #ffffff;
$off-white: #fffdf1;
$black: #000000;
$grey: #9ca3af;
$light-grey: #e9ecef;
