.btn-1 {
  padding: 0.5em;
  border: 1px solid $black;
  border-radius: 0px;

  &:hover {
    opacity: 0.75;
  }
}

.btn-play {
  font-size: $font-3xl;
}

.scroll-top {
  position: fixed;
  color: $black;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px;
  i {
    font-size: $font-2xl;
  }
}

.scroll-down-button {
  position: absolute;
  top: 15%;
  left: 90%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: none;
}

.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}

@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 576px) {
  .scroll-down-button {
    display: block;
  }
}
