.btn-1 {
  padding: 0.5em;
  border: 1px solid $black;
  border-radius: 0px;

  &:hover {
    opacity: 0.75;
  }
}

.btn-play {
  font-size: $font-3xl;
}

.scroll-top {
  position: fixed;
  color: $black;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px;
  i {
    font-size: $font-2xl;
  }
}

.scroll-down-button {
  position: absolute;
  top: 90%;
  left: 48%;
}
