.card {
  cursor: pointer;
  border: 1px solid $black;
  border-radius: 0%;

  a {
    &:hover {
      opacity: 1 !important;
    }
  }

  .flag {
    margin-left: -1rem;
    padding-left: 1.3rem;
    background-color: $color-primary;
    max-width: 5rem;
    color: $white;
    border-top: 3px solid $black;
    border-right: 3px solid $black;
    border-bottom: 3px solid $black;
  }
}
