.navbar {
  background-color: $black;
  opacity: 0.8;

  .navbar-toggler {
    border: none;

    i {
      color: $white;
      font-size: 2rem;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  .offcanvas {
    // width: 100vw;
    transition: ease-in-out 0.3s;
    background-color: $black;
    color: $white;

    .btn-close {
      margin-right: 1px;
      background-color: $white;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .offcanvas-header {
      justify-content: space-between;
    }

    .offcanvas-body {
      .nav-item {
        display: flex;
        // justify-content: center;
        .disabled {
          opacity: 0.5;
        }
        .nav-link {
          padding: 0;
          color: $white;
          font-size: $font-xl;
          &:hover {
            opacity: 0.75;
          }
        }
        .nav-link-margin {
          margin-left: 1rem;
          font-size: $font-lg;
        }
      }
    }
  }
}
