// normal navbar

.nav {
  padding: 1rem;
  background-color: $black;

  .nav-link {
    color: $white;
    font-size: $font-xs;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    &:hover {
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    padding: 2rem;
    background-color: $black;

    .nav-link {
      color: $white;
      font-size: $font-base;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      &:hover {
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
      }
    }
  }
}

// offcanvas navbar

.navbar {
  background-color: transparent;
  opacity: 0.95;

  .navbar-toggler {
    border: none;

    i {
      color: $black;
      font-size: 2rem;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  .offcanvas {
    // width: 100vw;
    transition: ease-in-out 0.3s;
    background-color: $black;
    color: $white;

    .btn-close {
      margin-right: 1px;
      background-color: $white;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .offcanvas-header {
      justify-content: space-between;
    }

    .offcanvas-body {
      .nav-item {
        display: flex;
        // justify-content: center;
        .disabled {
          opacity: 0.5;
        }
        .nav-link {
          padding: 0;
          color: $white;
          font-size: $font-xl;
          &:hover {
            opacity: 0.75;
          }
        }
        .nav-link-margin {
          margin-left: 1rem;
          font-size: $font-lg;
        }
      }
    }
  }
}

@media (min-width: 756px) {
  .navbar {
    padding: 3rem 2rem;
  }
}
